container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python sankalp2/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
  command: "source /opt/python/run/venv/bin/activate && python sankalp2/manage.py createsu"
  leader_only: true
  03_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python sankalp2/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "sankalp2.settings"
    "PYTHONPATH": "/opt/python/current/app/sankalp2:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: sankalp2/nse/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
