option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "nse.settings"
    "PYTHONPATH": "/opt/python/current/app/nse:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: nse/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

container_commands:
  01_migrate:
    command: python manage.py migrate --noinput"
    leader_only: true